.navbar{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: 30rem;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    padding: 0.8rem;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: space-around;
}

nav a{
    border-radius: 25%;
    padding: 1rem;
    border: none;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background-color: var(--color-primary);
}

@media screen and ( max-width : 290px ) {
    .navbar{
        width: 25rem;
    }
}