/*--------------------- Imports Items --------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,800&family=Palanquin:wght@300&display=swap');

/*--------------------- Normalize ------------------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

/*----------------- Background Customization ------------------*/

body{
    background-image: url(../../image/imagen2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Overpass', sans-serif;
}

/*----------------------- Variable ----------------------------*/
:root{
    --color-primary : #8A8A8A;
    --color-bg-variant : #323232;
    --container-width-ls : 75%;
    --container-width-md : 86%;
    --container-width-sm : 90%;
    --transition : 0.1s;
    --transparent-black : rgba(0, 0, 0, 0.3);
    --difumination : blur(15px);
    --border-radius : 12px;
}

/*------------------ Change scrolls behavior ----------------*/

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

::-webkit-scrollbar{
    display: none;
}

/*------------------ Changin font Size -----------------------*/

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2.4rem;
}

p{
    font-family: 'Palanquin', sans-serif;
}

/*------------------ button Configuration ---------------------*/

.btn{
    width: auto;
    height: 4rem;
    border: 0.1rem solid white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    transition: var(--transition);
    color: white;
}

.btn-secundary{
    background-color: var(--color-primary);
    border: none;
}

.btn:hover{
    font-size: 2rem;
    height: 4rem;
}


/*----------------------- Section ------------------------------*/
section{
    margin-top: 3rem;
}

.contact{
    width: 100%;
}